---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const roles: Array<CompatibilityItem> = [
  {
    title: "Tank",
    icon: "frameworks/react",
    url: "#",
  },
  {
    title: "Melee DPS",
    icon: "frameworks/preact",
    url: "#",
  },
  {
    title: "Ranged DPS",
    icon: "frameworks/svelte",
    url: "#",
  },
  {
    title: "Healer",
    icon: "frameworks/vue",
    url: "#",
  },
];

const specs: Array<CompatibilityItem> = [
  {
    title: "Netlify",
    icon: "platforms/netlify",
    url: "#",
  },
  {
    title: "Vercel",
    icon: "platforms/vercel",
    url: "#",
  },
  {
    title: "Cloudflare",
    icon: "fa-brands:cloudflare",
    url: "#",
  },
  {
    title: "Render",
    icon: "platforms/render",
    url: "#",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "#",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "#",
  },
];
---

<ContentSection title="Classic (SoD)" id="compatibility">
  <Fragment slot="lead">
    Grupo em formação para <span class="text-primary">Profundezas Negras</span>.
  </Fragment>
  <CompatibilityList
    items={roles}
    title="Roles"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={specs}
    title="Specs"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
