---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Câmara dos Encarnados",
    description: "8/8H",    
    raidImage: "bg-voti",
  },
  {
    title: "Aberrus, o Crisol Sombrio",
    description: "9/9H",    
    raidImage: "bg-atsc",
  },
  {
    title: "Amirdrassil, a Esperança Onírica",
    description: "9/9H",    
    raidImage: "bg-atdh",
  },
];
---

<ContentSection title="Dragonflight" id="features">
  <Fragment slot="lead">
    Nessa expansão pegamos <span class="text-primary">AOTC</span>
    e em seguida fizemos as conquistas para as
    <span class="text-primary">Glórias do Aventureiro</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, raidImage }) => (
        <li class={`flex flex-col items-center gap-4 border border-default p-6 bg-raid ${raidImage}`}>          
          <p class="text-center font-extrabold text-l">{title}</p>
          <p class="text-center font-bold text-m">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>

<style>
  .bg-raid {
    background-size: cover;
    background-position: center center; 
    
    &.bg-voti {
      background-image: url('../assets/images/raids/voti.jpg');    
    }

    &.bg-atdh {
      background-image: url('../assets/images/raids/atdh.jpg');       
    }

    &.bg-atsc {
      background-image: url('../assets/images/raids/atsc.jpg');          
    }  
  }  
</style>